/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

.searchResultRenderer {
  display: flex;
  text-align: left;
  cursor: pointer;

  &__left {
    display: inline-block;
    width: 20%;

    &__poster {
      width: 80%;
    }
  }

  &__right {
    display: inline-block;
    width: 80%;

    &__title {
      font-size: 2rem;
      color: $color-blue;
      margin: 0;
    }

    &__overview {
      color: $color-gray8;
      text-align: left;
      margin-top: .5rem;
      font-size: 1.2rem;
      line-height: 1.2;
      max-height: 7.2em;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
    }
  }
}
