/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

.navigation {
  background: $color-main;
  color: white;
  padding: 3rem;
  font-weight: bold;

  &__left {
    float: left;

    &__logo {
      font-size: 1.2rem;
    }
  }

  &__right {
    float: right;

    &__items {
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__body {
    margin-top: 5rem;
    text-align: center;

    &__title {
      font-size: 2.5rem;
    }

    &__search {
      width: 70%;
      margin-top: 2rem;

      .input {
        width: 100%;
      }

      .results {
        width: 100% !important;
        max-height: 700px;
        overflow-y: scroll;
      }
    }
  }
}
