/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

* {
  font-family: 'Ubuntu', sans-serif;
  $color-font-black: #494949;
}

body {
  margin: 0 auto;
  background: $color-white;
  -webkit-font-smoothing: antialiased;
}

.clear {
  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}
