/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

.loginPage {

  &__body {
    background: $color-blue-white;
    padding: 2rem 0;

    &__header {
      text-align: center;
    }

    &__form {
      width: 500px;

      &__footer {
        margin: 1rem 0;
      }
    }
  }
}
