// Color Scss
$color-main: #24292e;
$color-white: white;
$color-dark-white: #f5f5f5;
$color-red: #FF404E;
$color-dark-blue: #012D41;
$color-blue: #2b85e7;
$color-blue-white: #DAECF3;
$color-font-black: #494949;

// Gray Scale
$color-gray1: #000000;
$color-gray2: #111111;
$color-gray3: #222222;
$color-gray4: #333333;
$color-gray5: #444444;
$color-gray6: #555555;
$color-gray7: #666666;
$color-gray8: #777777;
$color-gray9: #888888;
$color-gray10: #999999;
$color-gray11: #AAAAAA;
$color-gray12: #BBBBBB;
$color-gray13: #CCCCCC;
$color-gray14: #DDDDDD;
$color-gray15: #EEEEEE;
$color-gray16: #FFFFFF;
